<nav class="navbar navbar-expand-sm bg-primary navbar-dark backgroundgradient">
    <ul class="navbar-nav" style="display: flex; justify-content: space-around;">
        <li class="nav-item" style="display: inline-flex;list-style: none;letter-spacing:1px;margin: 1px 10px 1px 3px;">
            <a routerLink="/" class="nav-link active" aria-current="page" routerLinkActive="active"
                style="color:rgb(235, 165, 24);font-weight: 800;
                font-size: 20px; margin-right: 5px;position: relative;text-shadow: 1px 1px white;">Employee List</a>
            <a class="nav-link active " aria-current="page" routerLink="/add-employee"
                routerLinkActive="active" style="color:rgb(235, 165, 24);font-weight: 900;">Add Employee</a>
        </li>
    </ul>


</nav>